@defer {
<div class="row p-4">
  <div class="col-12">
    <div class="d-flex justify-content-between align-items-center">
      <h2>Categories</h2>
      <button
        appRoleGuard [superAdminOnly]="true"
        (click)="modalService.displayModal('md', addCategoryModal)"
        type="button"
        class="btn btn-primary"
      >
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="col-12">
    <app-category-list
      (callModalAction)="callEdition($event)"
      (callDeleteAction)="categoryService.delete($event)"
      [categories]="categoryService.categories$()"
    />
  </div>
  @if(categoryService.categories$().length) {
  <app-pagination
    [service]="categoryService"
    [customCall]="true"
    (callCustomPaginationMethod)="categoryService.getAll()"
  />
  }
</div>
} @loading (minimum 1.5s) {
<app-loader />
}

<ng-template #addCategoryModal>
  <app-modal [hideFooter]="true">
    <div>
      <app-category-form
        [categoryForm]="categoryForm"
        (callSaveMethod)="saveCategory($event)"
        (callUpdateMethod)="updateCategory($event)"
      />
    </div>
  </app-modal>
</ng-template>
